{% extends "base.html.twig" %}
{% block title %}Cambiar contraseña
{% endblock %}
{% block body %}
	{% for mensaje in app.flashes('error') %}
        <div class="flash-error flash-alert" role="alert">
            {{ mensaje }}
        </div>
    {% endfor %}

    {% for mensaje in app.flashes('mensaje') %}
        <div class="flash-mensaje flash-alert" role="alert">
            {{ mensaje }}
        </div>
    {% endfor %}
	<h1>Cambiar contraseña</h1>
	<form action="{{ path('ctrl_cambiarcontraseña') }}" method="post">

		<input type="hidden" name="email" value="{{ email }}"/>

		<label for="clave">Clave:</label><br>
		<input type="password" id="clave" name="clave"/>
		<br><br>

		<label for="repetir_clave">Repetir clave:</label><br>
		<input type="password" id="repetir_clave" name="repetir_clave"/>
		<br><br>

		<button type="submit">Cambiar contraseña</button>
	</form>
{% endblock %}
